@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Oleo+Script+Swash+Caps:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

:root {
  --ff-mont: "Montserrat", sans-serif;
  --ff-oleo: "Oleo Script Swash Caps", cursive;

  --clr-main: #35a2ce;
  --clr-white: #ffffff;
  --clr-dark-blue: #110c46;
}

body {
  font-family: var(--ff-mont);
  background-color: var(--clr-white);
  color: var(--clr-dark-blue);
}
img {
  width: 100%;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  height: 75vh;
}

.navbar {
  height: 5rem;
  background-color: var(--clr-main);
  color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  font-size: 1.5rem;
  font-family: var(--ff-oleo);
  font-weight: 700;
  text-shadow: 2px 2px #110c46;
}
.list-container {
  display: flex;
}

.list-item {
  margin: 1rem;
}
.list-link {
  font-size: 1.2rem;
  color: var(--clr-white);
  font-weight: 700;
}

.list-link:hover {
  color: var(--clr-dark-blue);
}

.hero-section {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  height: calc(75vh-5rem);
}

.hero-title {
  font-size: 3.5rem;
}

.hero-title span {
  color: var(--clr-main);
  font-weight: 900;
  font-family: var(--ff-oleo);
  font-kerning: initial;
  line-height: 1.5rem;
}

.hero-description {
  font-size: 1.25rem;
  width: 90%;
  margin: 1.25rem 0;
  font-style: italic;
}
.contact-link-conatiner {
  display: flex;
  align-items: center;
  min-height: 2rem;
}
.contact-item {
  margin: 0 1rem;
}
.contact-link {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--clr-main);
}

.hero-img-container img {
  border-radius: 15%;
}

/*content delivery network CDN - an online css file written by someone*/

.contact-link :hover {
  color: var(--clr-dark-blue);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: space-between;
  }
  .logo {
    font-size: 1.5rem;
  }
  .list-link {
    font-size: 1.25rem;
  }
  .hero-section {
    flex-direction: column;
    text-align: center;
  }
  .hero-title {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .hero-description {
    font-size: 1rem;
  }
  .contact-link-conatiner {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
